.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

del {
  text-decoration-color: var(--accent);
  text-decoration-thickness: .1em;
}

#intro ul {
  margin-top: 4em;
}
#intro ul li:before {
  content: "– ";
}
#intro ul li:nth-child(2n+1) {
  color: var(--accent);
  font-style: italic;
}
#intro ul li:nth-child(2n) {
  margin-left: 1em;
}
